POSTGRES_USER=user
POSTGRES_DB=DB_Agent
POSTGRES_PASSWORD=your_password
DATABASE_URL=postgres://POSTGRES_USER:POSTGRES_PASSWORD@db:5432/POSTGRES_DB
LLM_API_KEY="sk-your-provider-key"
REDIS_URL="redis://redis:6379/0"
CELERY_BROKER_URL="redis://redis:6379/1"
CELERY_RESULT_BACKEND="redis://redis:6379/2"

# Application Configuration
API_PORT="8000"